@model POOII_CL3.Entidades.Vehiculo

@{
    ViewBag.Title = "Eliminar Vehículo";
}

<h2>Eliminar Vehículo</h2>

<h3>¿Está seguro de eliminar este vehículo?</h3>
<div>
    @using (Html.BeginForm())
    {
        <h4>Vehículo</h4>
        <hr />
        <dl class="dl-horizontal">

            @Html.HiddenFor(model => model.IdVehiculo)

            <dt>
                @Html.DisplayNameFor(model => model.Placa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Placa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Año)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Año)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modelo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>

        </dl>

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
