@model IEnumerable<POOII_CL3.Entidades.Vehiculo>

@{
    ViewBag.Title = "Lista de Vehículos";
}

<h2>Lista de Vehículos</h2>

<p>
    @Html.ActionLink("Nuevo", "RegistrarVehiculo", "Vehiculo", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.ActionLink("Editar", "ActualizarVehiculo", new { id = item.IdVehiculo }) |
            @Html.ActionLink("Ver", "VerVehiculo", new { id = item.IdVehiculo }) |
            @Html.ActionLink("Eliminar", "EliminarVehiculo", new { id = item.IdVehiculo })
        </td>
    </tr>
}

</table>
