@model POOII_CL3.Entidades.Vehiculo

@{
    ViewBag.Title = "Ver Vehiculo";
}

<h2>Ver Vehiculo</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "ActualizarVehiculo", new { id = Model.IdVehiculo }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
